<div class="app">
    <div class="header">
        <div class="input-and-btn-container">
            <mat-form-field class="input">
                <mat-label>Todo</mat-label>
                <input
                    matInput
                    placeholder="Add a todo item here..."
                    [value]="inputValue"
                    (keyup)="handleKeyUp($event.target.value)"
                    (keyup.enter)="handleAddBtnClick()"
                />
            </mat-form-field>
            <div class="button-container">
                <button
                    mat-icon-button
                    color="accent"
                    [disabled]="inputValue.length === 0"
                    (click)="handleAddBtnClick()"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngFor="let todo of todos">
        <app-todo-item [item]="todo"></app-todo-item>
    </div>
    <div *ngIf="!todos.length" class="empty-list">List is empty...</div>
</div>
