:host {
    display: block;
    margin: 12px auto;
    width: 960px;

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-value {
            color: white;
            padding-left: 10px;
        }

        .item-value.done {
            text-decoration: line-through;
        }

        .delete-btn {
            margin-left: 10px;
        }
    }
}
