<mat-card class="card" *ngIf="item">
    <div [className]="item.isDone ? 'item-value done' : 'item-value'">
        {{ item.value }}
    </div>
    <div>
        <mat-checkbox
            [checked]="item.isDone"
            class="example-margin"
            (click)="handleCheckboxBtnClick(item.id, !item.isDone)"
        ></mat-checkbox>
        <button
            mat-icon-button
            class="delete-btn"
            color="accent"
            (click)="handleDeleteBtnClick(item.id)"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-card>
